<!-- template/partials/header.ejs -->
<header>
<div>
    <nav>
        <ul class="nav nav-pills pull-right">
            <li role="presentation"><aw href="/">Log</a><br /><br></li>
        </ul>
        <h3 class="header">I-Hall Lovers</h3> 
    </nav>
</div>
</header>

